@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
    margin: auto;
    width: 300px;
    padding: 10px;
    margin-top: 20px;
}

#subtitle {
    background: black;
    color: white;
    margin: auto;
    width: 300px;
    padding: 10px;
    margin-top:20px;
}

.topic {
    background: lightgray;
    display: inline-block;
    margin: 20px;
}